/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #642dacce;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    padding-top: 70px; /* Ajustar según la altura del nav fijo */
}

header {
    background-color: #642dacce;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(40, 212, 63, 0.1);
}

nav {
    display: flex;
    justify-content: center;
    background: #642dacce;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav a {
    position: relative;
    width: 250px;
    height: 35px;
    display: inline-block;
    border-radius: 5px;
    margin: 0 10px;
    text-align: center;
    line-height: 35px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
    overflow: hidden;
    text-decoration: none;
    transition: all 0.3s ease;
    border: 2px solid transparent;
}

nav a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #00ccff, #00ccff, #00ccff, #0e1538);
    z-index: -1;
    transition: all 0.5s ease;
    opacity: 0;
}

nav a:hover::before {
    opacity: 1;
    filter: blur(5px);
}

nav a:hover {
    border-color: #00ccff;
}

nav a:active {
    background-color: #00ccff;
    color: #fff;
}

nav a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
    background: rgba(13, 185, 85, 0.65);
}
.text-section {
    position: center;
    color: white;
}
.video-section{
    width: 60%;
    position: absolute;
    margin-left: 670px;
    margin-top: -320px;
}


/* Carousel styles */
.carousel {
    position: relative;
    width: 100%;
    max-width: 600px; /* Tamaño máximo para el carrusel */
    margin: auto;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-slide img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

/* Estilos para el botón de auto-play */
.carousel-autoplay {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #edb301;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    z-index: 2;
}

.carousel-autoplay.active {
    background-color: #d19c01;
}

/* Estilos para la galería de imágenes */
.image-gallery {
    display: flex;
    overflow: hidden;
    position: relative;
}

.image-gallery img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.image-gallery img:hover {
    transform: scale(1.1);
}

footer {
    background-color: #d1d1d1; /* Gris medio claro */
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer address {
    margin: 0;
    
}

footer .author {
    color: #60c26d;
}

.map-container {
    width: 100%;
    margin-top: 20px;
    padding: 0;
}

.contact-form, .map-container {
    background-color: #642dacce;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
}

.contact-form h2, .map-container h2 {
    color: #edb301;
    color: #5aff4b70;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.contact-form input[type="submit"] {
    background-color: #edb301;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form input[type="submit"]:hover {
    background-color: #d19c01;
}

.contact-form input[type="submit"]:active {
    background-color: #b48201;
    transform: scale(0.98);
}
.contact-info{
    color: white;
}
/* Estilos para el menú social */
.social-menu {
    color: #f30000;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social-menu a {
    color: #e7e3e3;
    font-size: 14px;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 5px;
}
.social-menu a:hover {
    background-color: #ffffff;
}

/* Lista de contacto */
.contact-list {
    margin-top: 20px;
    font-size: 16px;
}

.contact-list ul {
    list-style-type: none;
    padding: 0;
}

.contact-list ul li {
    margin-bottom: 10px;
}
.text h1{
    font-size: 16px;
    text-align: center;
    color: white;
}
#parrafo{
    color: rgb(255, 255, 255);
} 
/*edicion de boton flotante*/
.float-button {
    position: fixed;
    right: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #15ff00;
    color: white;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.float-button:hover {
    background-color: #642dacce;
    transform: scale(1.1);
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

h1 {
    margin-top: 20px;
    text-align: center;
}

form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 10px;
    background-color: #a0abb8;
}

label, input, select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}    
label{ 
    padding-bottom: 10px;
}
input[type="radio"] {
    display: inline;
    width: auto;
}

input[type="submit"] {
    background-color: #642dacce;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #642dacce;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #000000;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a#volver {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #afad4c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a#volver:hover {
    background-color: #642dacce;
} 

.container{
    text-align: center;
    background-color: #39116ece;
}
.futer{
    text-align: center;
}